<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<bean id="sectionServiceImpl"
		class="com.topview.multimedia.service.section.SectionServiceImpl">
		<property name="sectionCreateProcesses">
			<list>
				<ref bean="sectionCreateProcess" />
			</list>
		</property>
		<property name="sectionUpdateProcesses">
			<list>
				<ref bean="sectionUpdateProcess" />
			</list>
		</property>
		<property name="sectionDeleteProcesses">
			<list>
				<ref bean="sectionDeleteProcess" />
			</list>
		</property>
		<property name="sectionFindAllProcesses">
			<list>
				<ref bean="sectionFindAllProcess" />
			</list>
		</property>
		<property name="sectionFindByTypeProcesses">
			<list>
				<ref bean="sectionFindByTypeProcess" />
			</list>
		</property>
	</bean>

</beans>