<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topview.message.dao.MessageMapper">
	<resultMap id="BaseResultMap" type="com.topview.message.po.Message">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
		<result column="sms" property="sms" jdbcType="INTEGER" />
		<result column="sender_id" property="senderId" jdbcType="VARCHAR" />
		<result column="sender_kid_id" property="senderKidId" jdbcType="VARCHAR" />
		<result column="t_push_type_id" property="tPushTypeId"
			jdbcType="VARCHAR" />
		<result column="t_push_postbox_id" property="tPushPostboxId"
			jdbcType="VARCHAR" />
		<result column="t_push_kind_id" property="tPushKindId" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, content, send_time, sms, sender_id, sender_kid_id, t_push_type_id,
		t_push_postbox_id,t_push_kind_id
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_push_message
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from t_push_message
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.topview.message.po.Message">
		 insert into t_push_message (id, content, send_time, 
      sms, sender_id, sender_kid_id, 
      t_push_type_id, t_push_postbox_id, t_push_kind_id
      )
    values (#{id,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{sendTime,jdbcType=TIMESTAMP}, 
      #{sms,jdbcType=INTEGER}, #{senderId,jdbcType=VARCHAR}, #{senderKidId,jdbcType=VARCHAR}, 
      #{tPushTypeId,jdbcType=VARCHAR}, #{tPushPostboxId,jdbcType=VARCHAR}, #{tPushKindId,jdbcType=VARCHAR}
      )
	</insert>
	<insert id="insertSelective" parameterType="com.topview.message.po.Message">
		insert into t_push_message
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="sendTime != null">
				send_time,
			</if>
			<if test="sms != null">
				sms,
			</if>
			<if test="senderId != null">
				sender_id,
			</if>
			<if test="senderKidId != null">
				sender_kid_id,
			</if>
			<if test="tPushTypeId != null">
				t_push_type_id,
			</if>
			<if test="tPushPostboxId != null">
				t_push_postbox_id,
			</if>
			<if test="tPushKindId != null">
				t_pus_kind_id
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="sendTime != null">
				#{sendTime,jdbcType=TIMESTAMP},
			</if>
			<if test="sms != null">
				#{sms,jdbcType=INTEGER},
			</if>
			<if test="senderId != null">
				#{senderId,jdbcType=VARCHAR},
			</if>
			<if test="senderKidId != null">
				#{senderKidId,jdbcType=VARCHAR},
			</if>
			<if test="tPushTypeId != null">
				#{tPushTypeId,jdbcType=VARCHAR},
			</if>
			<if test="tPushPostboxId != null">
				#{tPushPostboxId,jdbcType=VARCHAR},
			</if>
			<if test="tPushKindId != null">
				#{tPushKindId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.topview.message.po.Message">
		update t_push_message
		<set>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="sendTime != null">
				send_time = #{sendTime,jdbcType=TIMESTAMP},
			</if>
			<if test="sms != null">
				sms = #{sms,jdbcType=INTEGER},
			</if>
			<if test="senderId != null">
				sender_id = #{senderId,jdbcType=VARCHAR},
			</if>
			<if test="senderKidId != null">
				sender_kid_id = #{senderKidId,jdbcType=VARCHAR},
			</if>
			<if test="tPushTypeId != null">
				t_push_type_id = #{tPushTypeId,jdbcType=VARCHAR},
			</if>
			<if test="tPushPostboxId != null">
				t_push_postbox_id = #{tPushPostboxId,jdbcType=VARCHAR},
			</if>
			<if test="tPushKindId != null" >
		        t_push_kind_id = #{tPushKindId,jdbcType=VARCHAR},
		    </if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.topview.message.po.Message">
		update t_push_message
		set content = #{content,jdbcType=VARCHAR},
		send_time = #{sendTime,jdbcType=TIMESTAMP},
		sms = #{sms,jdbcType=INTEGER},
		sender_id = #{senderId,jdbcType=VARCHAR},
		sender_kid_id = #{senderKidId,jdbcType=VARCHAR},
		t_push_type_id = #{tPushTypeId,jdbcType=VARCHAR},
		t_push_postbox_id = #{tPushPostboxId,jdbcType=VARCHAR},
		t_push_kind_id = #{tPushKindId,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<!-- 查询用户未发送消息 -->
	<select id="getOfflineMessages" resultType="com.topview.message.vo.OfflineMessageVo"
		parameterType="java.lang.String">
		select
		msg.id as messageId, msg.content as content,
		msg.sender_id as senderId,
		msg.sender_kid_id as senderKidId,
		DATE_FORMAT(msg.send_time,
		'%Y-%m-%d %H:%i:%s') as sendTime,
		env.id as envelopeId, env.receiver_id as
		receiverId,env.student_id as studentId,
		pos.type as messageType,
		t.type
		as type,
		msg.t_push_kind_id as kindId
		from
		t_push_message msg,
		t_push_envelope
		env, t_push_postbox pos,
		t_push_type
		t
		where
		env.receiver_id =
		#{receiverId,jdbcType=VARCHAR}
		and
		env.push_status =
		'1'
		and
		env.t_push_message_id = msg.id
		and
		msg.t_push_type_id = t.id
		and
		msg.t_push_postbox_id = pos.id
		order by
		msg.send_time ASC
	</select>
	
	<!-- 查询单条消息内容 -->
	<select id="getMessageById" resultType="com.topview.message.vo.OfflineMessageVo"
		parameterType="java.lang.String">
		select
		msg.id as messageId, msg.content as content,
		msg.sender_id as senderId,
		msg.sender_kid_id as senderKidId,
		DATE_FORMAT(msg.send_time,
		'%Y-%m-%d %H:%i:%s') as sendTime,
		env.id as envelopeId, env.receiver_id as
		receiverId,env.student_id as studentId,
		pos.type as messageType,
		t.type
		as type,
		msg.t_push_kind_id as kindId
		from
		t_push_message msg,
		t_push_envelope
		env, t_push_postbox pos,
		t_push_type
		t
		where
		msg.id =
		#{messageId,jdbcType=VARCHAR}
		and
		env.t_push_message_id = msg.id
		and
		msg.t_push_type_id = t.id
		and
		msg.t_push_postbox_id = pos.id
		order by
		msg.send_time ASC
	</select>
	

	<!-- 根据时间段和发送人id查询我的短信发送记录.mybatis中sql语句如果出现<要进行转义或者使用<![CDATA[ ]]>将sql语句包围起来 -->
	<select id="getHistoryMessage" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		<![CDATA[
	SELECT
	msg.*
	FROM
		t_push_message msg
	WHERE
		msg.send_time >= #{beginTime}
	AND msg.send_time <= ADDDATE(
	#{endTime}, INTERVAL 1 DAY) 
	AND msg.sms != 0
	AND msg.sender_id = #{senderId,jdbcType=VARCHAR} 
	ORDER BY
		msg.send_time DESC limit #{limit} OFFSET #{offset}
		]]>
		<!-- 以上sms不可采用"="号外部传入值判断的方式 -->
	</select>
	
	<select id="getHisoryMessageCount" parameterType="java.util.Map"
	resultType="java.lang.Integer">
		<![CDATA[
	SELECT
		count(*)
	FROM
		t_push_message msg
	WHERE
		msg.send_time >= #{beginTime}
	AND msg.send_time <= ADDDATE(
	#{endTime}, INTERVAL 1 DAY) 
	AND msg.sms != 0
	AND msg.sender_id = #{senderId,jdbcType=VARCHAR} 
	ORDER BY
		msg.send_time DESC 
			]]>
	</select>
</mapper>